= form_for @milestone do |f|

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :event
    = f.select :event_id, Event.all.collect{ |event| [event.name, event.id]}
  .actions
    = f.submit 'Save'
