%p
  %b Name:
  = @milestone.name
%p
  %b Description:
  = @milestone.description
%p
  %b Start time:
  = @milestone.start_time
%p
  %b End time:
  = @milestone.end_time

%hr
%h2 Goals
- @milestone.goals.each do |goal|
  = link_to goal.name, goal_path(goal)
= link_to 'New Goal', new_goal_path(milestone: @milestone)

%br
= link_to 'Edit', edit_milestone_path(@milestone)
\|
= link_to 'Back', milestones_path
