= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :color
    = f.text_field :color, type: 'color'
  .field
    = f.label :goal
    = f.select :goal_id, Goal.all.collect{ |goal| [goal.name, goal.id]}
  .actions
    = f.submit 'Save'
